.clubMember{
    border:1px solid black;
    margin:1px 2px;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.clubMember img{
    height:100px;
    width:100px;
    border-radius:100%;
}
.clubEvent{
    border:1px solid black;
    margin:1px 2px;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.clubEvent img{
    height:100px;
    width:100px;
    border-radius:100%;
}

#message-container{
    border:1px solid rgb(135, 135, 255);
    width:fit-content;
    padding:10px;
}
#message-container input{
    width:300px;
    font-size:17px;
    padding:5px;
    margin-bottom: 3px;
}
#message-container textarea{
    width:300px;
    height:100px;
    font-size:17px;
    padding:5px;
}
#message-container button{
    border-radius:20px;
    color:rgb(42, 7, 140);
    border:1px solid rgb(42, 7, 140);
    background-color: white;
    padding:10px;
    font-size:20px;
}
#message-container button:hover{
    transition-duration: 0.3s;
    background-color: rgb(42, 7, 140);
    color:white;
}